body{
    margin:0 ; padding:0;
}

/* Header contenant le logo et la navigation du menu principal*/

.header{
    width :100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.logo{
    margin : 2%;
    min-width : 50px;   
    max-width: 70px;
}
.imagelogo{
    width: 100%;
    height: auto;    
}
ul.menuprincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
    width: 300px;
    height: 100%;
    list-style-type: none;
    font-family: Raleway;
    font-size: 0.7em;
    margin-top: 1%;
    margin-right: 100px;
}
.sinscrire{
    font-weight: bold;
}
.hebergement, .sinscrire{
    color: #0065FC; 
}

.hebergement:hover, .activites:hover, .sinscrire:hover {
    border-top: #0065FC 0.2em solid;
    cursor: pointer;
}


h1 {
    width: 100%;
    font-family: Raleway;
    font-weight: bold;
    font-size: 1em;
    margin : 0;
    padding: 0;
    margin-left: 2%;

}
h2 {
    width: 100%;
    font-family: Raleway light;
    font-size: 0.7em;
    margin: 0 2%;
}
/* Menu recherche */

.menurecherche{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.iconmap{
    font-size: 1.2em;
    display: flex;
    text-align: center;
    height: 35px;
    width: 35px;
    margin-left: 2%;
    background: #F2F2F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

.fas.fa-map-marker-alt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.recherche {
    height: 32px;
    width: 20%;
    border: #F2F2F2 0.1em solid;
}
.fas.fa-search{
    display: none;
}
.bouton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    color: white;
    font-family: Raleway;
    font-size: 0.7em;
}
.bouton:hover{
    cursor: pointer;
}
a{
    cursor: pointer;
    height : 100%;
}

/* Menu filtres */

nav.menufiltre{
    margin-left: 2%;
    padding-left: 0;
    width: 100%;  
}

ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    padding-left: 0;
    list-style-type: none;
    align-items: center;
}

li.economique, li.familial, li.romantique, li.animaux{
    height: 30px;
    font-family: Raleway;
    font-size: 0.7em;
    font-weight: bold;
    border: #d1d1d1 0.1em solid;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding-right: 10px;
}
li.filtres{
    height: 100%;
    font-family: Raleway;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 15px;
}
.blocicone {
    font-size: 1.2em;
    height : 100%;
    width: 30px;
    background: #DEEBFF;
    border-radius: 50px;
    margin-right: 10px;
    margin-left:0;
    text-align: center; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.fas{
    color:#0065fc;
}
.grey{
    color: #d6d5d5;
}
.noir{
    color: black;
}
/* sous-titre information */

.info{
    height: 20px;
    margin-left: 2%; 
    margin-bottom: 20px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.blociconeinfo{
    font-size: 0.7em;
    border: #d1d1d1 0.1em solid;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}
/* main section contenant section Hebergements et Aside */
section.mainsection  {
    width: 100%;
    height : 100%;
    margin-top : 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

/* Section 1 contenant les hébergements à Marseille */
.section1{
    margin-left: 2%;
    background: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    height: 100%; 
    padding: 20px 10px 35px 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    overflow: hidden;
   
}
.title {
    margin: 10px;
    font-size: 1em;
}

.vignette{
    width: 180px;
    height: 140px;
    overflow:hidden;
    background: white;
    border: white solid 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.blocphoto:hover {
    cursor: pointer;
    box-shadow: 0 5px 16px #0000002e;
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
  }
p {
    margin: 10px 0 10px 0;
    padding:0;
}
.blocphoto {
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0; margin: 0;
 
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.photohebergement{
    width: 100%;
}
.description {
    height: 60px;
    font-family: Raleway;
    font-size: 0.7em;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.emplacement{
    font-weight: bold;
}

.afficher{
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px;
}
/* Aside contenant les hôtels les plus populaires */
.aside{
    background: #F2F2F2;
    border-radius: 10px;
    width: 25%;
    height: 100%; 
    margin-left: 20px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;   
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fas.fa-chart-line{
    color: black;
    display: none;
}
.vignette2{
    width: 80%;
    height: 100px;
    overflow:hidden;
    background: white;
    border: white solid 3px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.descriptionpopulaire{
    width: 50%;
    height: 80%;
    font-family: Raleway;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 10px;

}
.blocphotopaysage {
    margin: 0;
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.blocphotoportrait {
    margin: 0;
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.photopopulaire1, .photopopulaire2{
    height: 100%;
}
.photopopulaire3{
    width: 100%;
}

/* Section Activités à Marseille */

.titlesection2{
   margin-bottom: 10px;
}

.bloc3{
    height: 400px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.vignetteactivites1 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.vignetteactivites2 {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.vignetteactivites3 {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.vignetteactivites4 {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.vignetteactivites5 {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}
.vignetteactivites6 {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.photoportrait {
    height: 100%;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.photopaysage {
    height: 100%;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.photopaysagetop {
    height: 100%;
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.descriptionactivites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 30px;
    font-family: Raleway;
    font-size: 0.6em;
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 100px;
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
ul.menufooter{
    list-style-type: none;
    font-family: Raleway;
    font-size: 0.7em;
    width: 100%;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
ul.menufooter li{
    height: 20px;
}
.photoativites6{
    height: 100%;
}
.soustitre{
    height: 20px;
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: bold;
}

@media screen and (max-width: 700px)
{
    body{
        width: 100%;
        margin: 0; padding: 0;
    }
    .header{
        height: 200px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        width : 50%;
        position: absolute;  
        top: 20px;
        left: 20px;

    }
    .imagelogo{
        width: 80px;   
    }
    ul.menuprincipal{
        width: 100%;
        height: 100px;
        font-size: 1em;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        
    }
    ul.menuprincipal li{
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        
    }
    li.hebergement, li.activites{
        margin-top: 30px;
        font-size: 1em;
        border-bottom: #F2F2F2 solid 0.2em;
    }
    .hebergement:hover, .activites:hover, .sinscrire:hover{
        border-top: none;
        border-bottom: blue solid 0.2em;
    }
    h1 .titreprincipal{
        font-size: 1.5em;
        font-weight: normal;
        margin-left: 2%;
    }
    nav.menurecherche{
        width: 100%;
        height: 50px;
        margin-left: 2%;
    }
    .iconmap{
        font-size: 1.2em;
        width: 10%;
        height: 40px;
        border-top-left-radius: 20px; border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .bouton{
        font-size: 1.2em;
        width: 10%;
        height: 40px;
        border: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    input.recherche{
        width: 50%;
        height: 38px;
        padding: 0;
    }
   
    .rechercher{
        display: none;
    }
    .fas.fa-search{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    
    section.mainsection{
        width: 100%;
        height: 100%;
        margin: 0; padding: 0;

    }
    .filtres{
        width: 100%;
        margin-left: 2%;
    }
    li.economique, li.familial, li.animaux, li.romantique{
        height: 40px;
        padding-right: 20px;
        border: #F2F2F2 solid 0.2em;

    }
    .blocicone{
        width: 42px;
        height: 110%;

    }
    .blociconeinfo{
        margin-left: 2%;
    }
    .aside
    {
        width: 100%;
        height: 100%;
        margin: 0; padding: 0;
        border-radius: 0;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .fas.fa-chart-line{
        display: flex;
        margin-right: 20px;
    }
    .vignette2{
        border: white solid 0.4em;
        width: 80%;
        height: 150px;
        border-radius: 30px;
    }
    .blocphotopaysage, .blocphotoportrait{
        width: 40%;
        height: 100%;
    }
    .photopopulaire1, .photopopulaire2,.photopopulaire3{
        height: 100%;
    }

    .descriptionpopulaire, .description{
        font-size: 1em;
        margin-right: 20px;
        margin-left: 20px;
    }
    .title {
        height: 100%;
        font-size: 1.5em;
    }
    
    .section1{
        background-color: white;
        margin-left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }
    .vignette{
        border: white solid 0.4em;
        width: 80%;
        height: 200px;
        border-radius: 30px;
    }
    .blocphoto{
        height: 120px;
    }
    .titlesection2{
        font-size: 1.5em;
        margin-left: 20px;
    }
    .bloc3{
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .descriptionactivites{
        font-size: 1em;
        margin: 15px;
    }
    .vignetteactivites1, .vignetteactivites2, .vignetteactivites3, .vignetteactivites4, .vignetteactivites5, .vignetteactivites6{
        width: 80%; 
        height: 150px;
        background-color: white;
        border-radius: 30px;
        border: none;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-content: space-between;

    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
    }
    ul.menufooter{
        height: 100%;
        font-size: 1em;
    }
    ul.menufooter li{
        height: 40px;
    }
    .soustitre{
        margin-left: 2%;
        height: 40px;
        font-size: 1em;
        margin-top: 20px;
    }
   
    .photopaysage, .photopaysagetop{
        width: 100%;
    }
    .photoportrait{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .photoactivites1, .photoactivites4{
        width: 100%;
    }
}